
.nav{
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 0.3rem;
    padding-top: 0.6rem;
    z-index: 1;
    background: transparent;
}
img{
    width: 160px;
    background: transparent;
}